@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
@font-face {
    font-family: 'ArialNarrowRegular';
    src: url('arialn.eot');
    src: url('arialn.eot') format('embedded-opentype'),
         url('arialn.woff') format('woff'),
         url('arialn.ttf') format('truetype'),
         url('arialn.svg#ArialNarrowRegular') format('svg');
}

body {
	background-color: #FFFFFF;
	font-family: "Arial Narrow",ArialNarrowRegular, Helvetica, sans-serif;
}

header
{
	padding-top:23px;}

.container
{
	width:100%;
	max-width:960px;
	margin:auto;
	}
header .container
{}

.header
{
	width:437px;
	display:inline-block;
	overflow:hidden;
	vertical-align:top;}
.header .logo img {
	
}
.header .logo {
	

}
.header .content {

}
.layer {
	
}
.layer-content {
}
.layer-content .seccion-left, .layer-content .first {
	
}

.first {
	width: 100%;
	position:relative;
	padding-top:20px;
}

.first.catalogo
{
	padding-top:49px;}
.layer-content .seccion-left {
	width: 25.9%;
	background-color: #555454;
	min-height: 660px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* menu*/
	
	.menu
	{
		display:inline-block;
		width:300px;
		vertical-align:top;
		padding-top:15px;}
.menu .content {
	
}
.menu ul {
	margin: 0px;
	list-style-type: none;
}
.menu ul li {
	display: block;
	margin-bottom: 2px;
}
.menu ul li a:hover {
	text-decoration: underline;
}
.menu ul li a {
	color: #555454;
	text-decoration: none;
	font-size: 12px;
	font-weight: lighter;
}
.menu ul li.active a {
	font-weight: bold;
	color: #701b1e;
}
.menu ul li ul {
	padding-left: 0px;
	margin-top: 8px;
}
.menu ul li ul li {
}
.menu ul li ul li a {
	color: #9d9d9d;
}
.menu ul li ul li.active a {
	font-weight: bold;
	color: #fff;
}
.sub {
	float:right;
	vertical-align:top;
	width:200px;
	display:inline-block;
	
}
/* lang*/
	.lang
	{
		padding-top:5px;
		text-align:right;
		}
.lang .content {
	
}
.lang .content ul {
	list-style-type: none;
}
.lang .content ul li {
	display:inline-block;
	color:#2c2c2c;
	font-size:10px;
}
.lang .content ul li a {
	color: #2c2c2c;
	font-size: 10px;
	text-decoration: none;
}
.lang .content ul li.active a {
	font-weight: bolder;
	text-decoration:underline;
}
/* social */


.socialbar {
	text-align:right;
	padding-top:0px;
}
.socialbar .content {
	
}
.socialbar ul {
}
.socialbar ul li {
	display: inline-block;
}
.socialbar ul li a {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 21px ;
	-moz-border-radius: 21px ;
	-webkit-border-radius: 21px ;
	margin-left: 6px;
}
.socialbar ul li a:hover {
	opacity: 0.5;
}
.socialbar ul li a.twitter {
	background-image: url(images/twitter.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-color:#45b0e4;
}
.socialbar ul li a.facebook {
	background-image: url(images/facebook.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#38599e;
}
.socialbar ul li a span {
	font-size: 0px;
}
/* slider home*/
.home .slider {
	
}
.home .slider ul li img {
}
/* home accesos*/

/* modify slider */

.bx-wrapper .bx-viewport {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	left: 0px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 5px;
}
.bx-wrapper {
	margin-bottom: 0px;
}
.bx-wrapper img {
	width: 100%;
}
/* page*/
				
.right {
	float: right;
}
.margin-left-20px {
	margin-left: 20px;
	display: inline-block;
}
.margin-left-6 {
	margin-left: 6%;
}
.container .content-page {
	margin-top: 160px;
	color: #818181;
	font-size: 12px;
	padding: 0px 0px 0px 6%;
}
.container .content-page h1 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 18px;
}
.container .content-page p {
	margin-bottom: 18px;
	text-justify: auto;
	text-align: justify;
	line-height: 16px;
}
.container .content {
	position: relative;
}

.page  .title
{
	color:#701b1e;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:19px;
	padding-top:20px;}
	
	.description
	{
		font-size:12px;
		color:#5b5b5f;
		font-family:Arial, Helvetica, sans-serif;
		line-height:17px;}
		
		.description p
		{
			margin-bottom:20px;}
		.image-deco
		{
			
			text-align:right;
			margin-top:-18px;}
/* form */

.form {
	display:inline-block;
	min-width:340px;
}
.form form {
}
.form .row {
	display: block;
	clear: both;
	margin-bottom: 20px;
}
.form .row label {
	display: block;
}
.form .row label span, span.space {
	max-width: 80px;
	width: 20%;
	display: inline-block;
	color: #5b5b5f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.form .row label input[type=text] {
	border: 1px solid #ffe9bc;
	line-height: 23px;
	background-color: #ffe9bc;
	width: 260px;
}
.form .row.buttons {
	margin-top: 20px;
}
.form .row.textarea label span {
	vertical-align: top;
}
.form .row label textarea {
	border: 1px solid #ffe9bc;
	background-color: #ffe9bc;
	width: 260px;
	height: 135px;
}
.form button:hover, a.boton:hover {
	cursor: pointer;
	background-color: #A5272B;
	border: 1px solid #A5272B;
}
.form button, a.boton {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #701b1e;
	border: 1px solid #701b1e;
	font-size: 12px;
	color: #fff;
	margin-right: 8px;
	display: inline-block;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	float:right;
}

/* footer*/

footer
{
	background-color: #c59025;
}

footer .cp
{
	font-size: 12.96px;
	color: #fff;
	text-align: center;
	display: block;
	background-image: url(images/bg-footer-p.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 73px;
	padding-bottom: 150px;
	}
/* contacto*/

.contacto .content-page {
	width: 45%;
}
/* info contacto*/
.info-contacto {
	display: block;
	position: absolute;
	width: 203px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;	
	
}
.info-contacto h3
{
	color:#5b5b5f;
	font-size:12px;
	font-weight:bold;
	line-height:100%;
	display:block;
	margin-bottom:3px;}
.info-contacto p
{
	font-size:12.04px;
	color:#5b5b5f;
	line-height:160%;}
.contacto .image-deco
{
	margin-top: 74px;
	width: 54%;}
.container .content .content-page .info-contacto p, .tienda p {
	margin-left: 20%;
	padding-left: 20px;
	background-image: url(images/info-contacto.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 11px;
	padding-top: 0px;
	margin-bottom: 10px;
}
.tienda p {
	margin-left: 0px;
}
.container .content .content-page .info-contacto p.direccion, p.direccion {
	background-position: left top;
}
.container .content .content-page .info-contacto p.telefono, p.telefono {
	background-position: left center;
}
p.facebook {
	background-image: url(images/facebook.png);
}
.container .content .content-page .info-contacto p.celular, p.celular {
	background-position: left bottom;
}
p.website {
	background-image: url(images/website-icon.png);
}
p.twitter {
	background-image: url(images/twitter-icon.png);
}
p.horario {
	background-image: url(images/horario-icon.png);
}
p.website a, p.twitter a {
	color: #818181;
	text-decoration: none;
}
p.email {
	background-image: url(images/email-icon.png);
	background-position: left 3px;
}
/* images hover */
.image-hover {
	display: inline-block;
}
.image-hover img {
	display: none;
}
.image-hover img:first-child {
	display: inline-block;
}
.image-hover:hover img:first-child {
	display: none;
}
.image-hover:hover img {
	display: inline-block;
}
/* widgets*/
.widget-contacto-image img {
	width: 100%;
	height: auto;
}
.widget-contacto-image {
	float: right;
	position: absolute;
	right: 0px;
	width: 45%;
}
/* galeria */

.catalogo .content-page {
	margin-top: 0px;
	margin-left: 0px;
	overflow: hidden;
	padding-left: 0px;
}
.galeria {
	display: inline-block;
vertical-align: top;
width: 46%;
float: left;
}
.catalogo .galeria-col-1 {
	
}
.catalogo .galeria-col-1 ul {
	margin: 0px;
	padding: 0px;
	list-style-type: square;
}
.catalogo .galeria-col-1 ul ul {
	padding: 0 0 0 10px;
	list-style-type: none;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	font-size: 11px;
	font-weight: normal;
}
.catalogo .galeria-col-1 ul ul li:before
{
	content:"-";}
.catalogo .galeria-col-1 .galeria-sub-col-1 ul ul ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	margin-top: 8px;
	display: block;
}
.catalogo .galeria-col-1 .galeria-sub-col-1 ul li {
	margin-bottom: 7px;
	font-weight: normal;
	list-style-type:none;
}
.catalogo .galeria-col-1 .galeria-sub-col-1 ul li.active > a,
.catalogo .galeria-col-1 .galeria-sub-col-1 ul li.active > a:hover {
	font-weight: normal;
	color: #701b1e;
}
.catalogo .galeria-col-1 .galeria-sub-col-1 ul li a {
	font-weight: normal;
	color: #5b5b5f;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	font-family:  Arial;
	text-transform:uppercase;

}

.catalogo .galeria-col-1 .galeria-sub-col-1 ul li a:hover
{
	color:#c59025;}
.catalogo .galeria-col-1 .galeria-sub-col-1 ul li a span {
	display: block;
}
.catalogo .galeria-col-1 .galeria-sub-col-1 {
	width: 48%;
	float: left;
	display: inline-block;
	vertical-align: top;
	
}
.catalogo .galeria-col-1 .galeria-sub-col-1
h3
{
	color:#701b1e;
	font-size:24px;
	font-weight:normal;
	line-height:100%;
	margin-bottom:21px;
	text-transform:uppercase;}
.catalogo .galeria-col-1 .galeria-sub-col-2 {
	width:46%;
float: right;
margin-left: 0%;
display: inline-block;
vertical-align: top;
text-align: right;
}
.catalogo .galeria-col-2 {
	width: 45%;
position: relative;
float:right;

}
.catalogo .galeria-col-2 img {
	width: 100%;
	height: auto;
}
.catalogo .galeria-col-2  li item
{
	position:relative;}
.catalogo .galeria-col-2 ul li .item .info-image
{
	position:absolute;
	opacity:0;width: 96%;
left: 0px;
padding: 2%;
	bottom:-50px;-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;}
.catalogo .galeria-col-2 ul li .item:hover .info-image {
position: absolute;
bottom: 0px;
width: 96%;
left: 0px;
padding: 2%;
color: #FFF;
background-color: #333;
opacity: 0.7;

-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.catalogo .galeria-col-2 .info-image h1 {
	font-size: 11px;
	padding: 0px;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	display: block;
	text-align: right;
}
.catalogo .galeria-col-2 .info-image h2 {
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: right;
	display: block;
}
/* grid galeria */
.galeria-grid {
}
.galeria-grid ul li {
	display: inline-block;
	margin-left: 7px;
margin-bottom: 7px;
float:right;
}
.galeria-grid ul li img
{
	border:solid 1px #baa579;}
.galeria-grid ul li a {
}
.galeria-grid ul li:hover a {
	opacity: 0.6;
}
.galeria-grid ul li.active a {
	opacity: 0.5;
}
.galeria-pagination {
	display: block;
	margin: 10px 0px;
}
.galeria-pagination ul {
	margin: 0px;
	padding: 0px;
}
.galeria-pagination li {
	display: inline-block;
}
.galeria-pagination li a {
	color: #555454;
	text-decoration: none;
	margin-right: 5px;
}
.galeria-pagination li.active a {
	
	color:#701b1e;
	font-weight:bold;
}
.galeria-pagination ul li:hover a {
	
}
/* galeria control*/
.galeria .control  {
	 font-size:0px;
}
.galeria .control {
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	background-color: #a9a9ab;
	background-repeat: no-repeat;
	background-position: center center;
	top: 20px;
	border-radius: 28px 28px 28px 28px;
	-moz-border-radius: 28px 28px 28px 28px;
	-webkit-border-radius: 28px 28px 28px 28px;
	z-index:999;

}

.galeria .control a {
display: block;
position: absolute;
width: 100%;
height: 100%;
font-size: 0px;
}
.galeria .control:hover {
	opacity: 0.5;
}
.galeria .control.next {
	background-image: url(images/galeria-next.png);
	right: 20px;
}
.galeria .control.prev {
	background-image: url(images/galeria-prev.png);
	right: 55px;
}
/* tiendas*/

.tiendas .content-page {
	margin-top: 85px;
	padding-left: 10.7%;
}
.tiendas h1.title-country {
	font-size: 12px;
	font-weight: normal;
	color: #818181;
}
.tiendas h1.title-country img {
	display: block;
	clear: both;
	margin-top: 9px;
}
.tienda {
	display: block;
	width: 100%;
	margin-bottom: 10%;
}
.tienda .tienda-image img {
	width: 100%;
	height: auto;
}
.tienda .tienda-image {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
}
.tienda .tienda-data {
	width: 48%;
	padding-right: 2%;
	vertical-align: top;
	display: inline-block;
}
.tienda .tienda-data h1 {
	font-size: 20px;
	font-weight: normal;
	color: #818181;
}
.tienda p.facebook a {
	color: #818181;
	text-decoration: none;
}
.tienda a.boton {
	padding: 4px 23px;
}
.indicador {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 30px;
	background-color: #000;
}
.slicknav_menu {
	display: none;
}
.lang ul li a span {
	display: none;
}

.mapa
{
	background-color: #000;
}
.mapa h1 img
{
	margin-right:10px;
	display:inline-block;
}
.mapa h1
{
	display: inline-block;
	font-size: 18px;
	color: #929292;
	font-weight: normal;
	margin-bottom: 20px;
}
.mapa .mapa-content img
{
	width: 100%;
	height: auto;
	margin:auto;
	margin-bottom:20px;
	display:block;
	/* [disabled]display: block; */
}
.fancybox-opened .fancybox-skin
{
	background-color:#000;
	border:solid 1px #8f8f8f;
border-radius: 10px 0px 10px 10px;
-moz-border-radius: 10px 0px 10px 10px;
-webkit-border-radius: 10px 0px 10px 10px;}
.fancybox-close
{
	background-image: url(images/close-map.jpg) !important;
	background-position: center 10px;
	background-color: #000;
	height: 45px !important;
	width: 78px !important;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #8f8f8f;
	border-right-color: #8f8f8f;
	border-bottom-color: #8f8f8f;
	border-left-color: #8f8f8f;
	display: block;
	background-repeat: no-repeat;
	top: -46px !important;
	right: -1px !important;
	border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
}
.fancybox-close:hover
{background-position: center 13px;
}
.second
{
	display:block;}


.second .footer-front
{
	display:block;
	overflow:hidden;
	background-color:#fff;
	}
.second .c
{
	display:inline-block;
	vertical-align:top;
	float:left;}

.second .c.c1
{}

.second .c.c2
{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c59025;
	border-left-color: #c59025;
	}
	
	.c a
	{
		float:left;}
.second .c.c3
{min-height:261px;
	height:261px;
	border-left-width: 1px;

	border-left-style: solid;

	border-left-color: #c59025;
	}
	
	.c a:hover
	{
		-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
float:left;
overflow:hidden;
opacity:0.9;


-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
		
		-webkit-box-shadow: inset 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
box-shadow:         inset 0px 0px 20px 0px rgba(50, 50, 50, 0.75);}
	.c3 .textwidget
	{
		padding-left:23px;}
	.c3 .textwidget h3
	{
	font-size: 20px;
	color: #701b1e;
	display: block;
padding-top: 77px;
line-height: 100%;
margin-bottom:8px;
}
.c3 .textwidget
p
{
	font-size:15px;
	color:#000000;}

.menu-galeria
{}

.info-categoria
{
	position: absolute;
bottom: 0px;
left: -527px;
width: 440px;
text-align:right;
padding-bottom:36px;}
.info-categoria h3
{
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom:25px;
	line-height:100%;
}
.info-categoria
p
{
	margin-bottom: 0px !important;
	color: #555454;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right !important;
	display: block;
	line-height:150% !important;
	}
.info-categoria h3 span.cat01
{
	color: #701b1e;
}

.info-categoria h3 span.cat02
{
	color: #c59025;
}

.slider-catalogo .item
{
	position:relative;}
	.slider-catalogo .item .info
	{}